.container.notice__container{
    position: fixed;
    top: 80%;
    left: 64%;
    width: 30rem;
    height: fit-content;
    padding: 1.2rem;    
    background:rgba(0,0,0,0.3);
    border: 1px solid var(--color-primary);
    border-radius: 1.2rem;
    z-index: 3;
    justify-content: center;
    overflow: hidden;
    display: flex;
    gap: .6rem;
}
.container.notice__container p{
    font-size: .7rem;
    font-weight: 100;
    text-align: center;
}
.close{
    border: 1px solid var(--color-primary-variant);
    border-radius: .2rem;
    height: fit-content;
    padding:0 3px;
}
.close__button{
    font-weight: 100px;
    margin-top: 8px;
}

/*====================MEDIA QUERIES(MEDIUM DEVICES)==================*/
@media screen and (max-width:1024px) {
    .container.notice__container{
        left: 20%;
        top: 75%;
    }
    .container.notice__container p{
        font-size: 1rem;
    }
}

/*====================MEDIA QUERIES(SMALL DEVICES)==================*/
@media screen and (max-width:600px) {
    .container.notice__container{
        width: 20rem;
        left: 10%;
        top: 68%;
        padding: .5rem;
    }
    .container.notice__container p{
        font-size: .8rem;
    }
}

